*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
header{
    background-image: url(img/bg-header-desktop.png);
    background-repeat: no-repeat;
}
header div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header div img{
    width: 15rem;
}
header div h1{
    font-size: 5rem;
    margin: 2rem 0;
}
header div p{
    font-size: 2rem;
}
